<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Shop Demo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <link href="styles/styles.css" rel="stylesheet" type="text/css">
</head>

<body>

<div id="container">

    <div class="heading">
        <div class="welcome">
            <h1>Hello, {{user}}.</h1>
            <p>welcome to your milestone planner!</p>
        </div>

        <div class="logout-div right">
            <form class="logout-form" method="POST" action="/logout">
                <input class="logout-btn" type="submit" name="logout" value="Logout">
            </form>
        </div>
    </div>
    <hr>

    <h2>Add a milestone:</h2>

    <form method="POST" action="/milestone" class="input-ms">

        <div class="form-row">
            <label for="pname">Milestone Name:</label>
            <input class="text-in right" type="text" id="pname" name="pname" required>
        </div>

        <div class="form-row">
            <label for="pdesc">Description:</label>
            <textarea class="right" type="text" id="pdesc" name="pdesc" required></textarea>
        </div>

        <div class="form-row">
            <label for="pdue">Due Date:</label>
            <input class="text-in right" type="text" id="pdue" name="pdue" required>
        </div>
        <div class="form-row">
            <label for="pcomp">Completion Date:</label>
            <input class="text-in right" type="text" id="pcomp" name="pcomp" required>
        </div>

        <div class="form-row">
            <input type="submit" value="Submit" class="submit-ms">
        </div>
    </form>

    <hr>

    <h2>Milestones - Click to edit:</h2>

    <table>
        <tr>
            <th class="hidden">ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Completion Date</th>
        </tr>
        {{#milestones}}
            <tr class="milestone-row">
                <td class="id-cell hidden">{{id}}</td>
                <td class="name-cell">{{name}}</td>
                <td class="desc-cell">{{description}}</td>
                <td class="due-cell">{{dueDate}}</td>
                <td class="comp-cell">{{completionDate}}</td>
            </tr>
        {{/milestones}}
    </table>

    <div class="edit-div hidden">
        <form method="POST" action="/edit" id="edit-form" class="input-ms">

            <div class="form-row">
                <label for="ms-id" id="ms-id">Milestone ID: </label>
                <input type="hidden" id="hidden-id" value="" name="ms-id" required>
            </div>

            <div class="form-row">
                <label for="ms-name">Milestone Name: </label>
                <input class="text-in right" type="text" value="" id="ms-name" name="ms-name" required>
            </div>

            <div class="form-row">
                <label for="ms-desc">Milestone Description: </label>
                <textarea class="right" type="text" value="" id="ms-desc" name="ms-desc" required></textarea>
            </div>

            <div class="form-row">
                <label for="ms-due">Milestone Due Date: </label>
                <input class="text-in right" type="text" value="" id="ms-due" name="ms-due" required>
            </div>

            <div class="form-row">
                <label for="ms-comp">Milestone Completion Date: </label>
                <input class="text-in right" type="text" value="" id="ms-comp" name="ms-comp" required>
            </div>

            <div class="form-row">
                <input type="submit" value="Submit" class="submit-ms">
                <button id="close-btn" class="submit-ms">Close</button>
            </div>

        </form>

        <hr>

        <form method="POST" action="/delete">
            <div class="form-row">
                <input type="hidden" id="ms-delete" value="" name="ms-delete" required>
            </div>

            <div class="form-row">
                <input type="submit" value="Delete Milestone" class="delete-ms">
            </div>
        </form>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/tableListener.js"></script>

</div>
</body>

</html>