<html>
<head>
    <title>Milestone Planner Login:</title>
    <link href="../webapp/styles/login.css" rel="stylesheet" type="text/css">
</head>

<body>

<h1>Milestone Planner</h1>
<h2>Register</h2>

<div class="form-holder">
    <form method="POST" action="/login">

        <div class="form-row">
            <label class="left" for="uname">Username:</label>
            <input class="right" type="text" id="uname" name="uname">
        </div>

        <div class="form-row">
            <label class="left" for="pw">Password:</label>
            <input class="right" type="password" id="pw" name="pw">
        </div>

        <div class="form-row">
            <label class="left" for="cpw">Confirm Password:</label>
            <input class="right" type="password" id="cpw" name="cpw">
        </div>

        <div class="form-row">
            <input class="subBtn" type="submit" value="Submit">
        </div>
    </form>
</div>

</body>
</html>