<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Shop Demo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <link href="styles/styles.css" rel="stylesheet" type="text/css">
</head>

<body>

<h1>Planner</h1>
<p>welcome to milestone planner!</p>

<hr>

<h2>Add a milestone:</h2>

<form method="POST" action="/milestone">

    <div class="form-row">
        <label for="pname">Milestone Name:</label>
        <input class="right" type="text" id="pname" name="pname" required>
    </div>

    <div class="form-row">
        <label for="pdesc">Description:</label>
        <input class="right" type="text" id="pdesc" name="pdesc" required>
    </div>

    <div class="form-row">
        <label for="pdue">Due Date:</label>
        <input class="right" type="text" id="pdue" name="pdue" required>
    </div>
    <div class="form-row">
        <label for="pcomp">Completion Date:</label>
        <input class="right" type="text" id="pcomp" name="pcomp" required>
    </div>

    <div class="form-row">
        <input type="submit" value="Submit">
    </div>
</form>

<hr>

<h2>Milestones:</h2>

<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Completion Date</th>
    </tr>
    {{#milestones}}
        <tr>
            <td>{{name}}</td>
            <td>{{description}}</td>
            <td>{{dueDate}}</td>
            <td>{{completionDate}}</td>
        </tr>
    {{/milestones}}
</table>

{{name}}

</body>

</html>