h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.form-holder {
    text-align: center;
}

form {
    width: 24em;
    margin: auto;
    border: 1px solid cadetblue;
    padding: 25px;
}

.form-row {
    width: 90%;
    padding: 10px;
}

form label {
    margin-top: 20px;
}

.right {
    float: right;
}

.subBtn {
    width: 40%;
    margin: auto;
}