#container {
    z-index: 1;
}

.input-ms {
    width: 100%;
}

.form-row {
    width: 90%;
    margin: auto;
    margin-top: 35px;
}

.input-ms .text-in {
    text-align: center;
    box-shadow: 0 0 3px blue;
    width: 35%;
}

.input-ms textarea {
    text-align: left;
    box-shadow: 0 0 3px blue;
    width: 35%;
    height: 40px;
}

.submit-ms {
    height: 30px;
    padding: 2px;
    background-color: cornflowerblue;
    color: whitesmoke;
    border-radius: 10px;
    font-weight: 900;
}

.delete-ms {
    height: 30px;
    padding: 2px;
    background-color: crimson;
    color: whitesmoke;
    border-radius: 10px;
    font-weight: 900;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td:hover {
    cursor: pointer;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.heading {
    display: inline-block;
    width: 100%;
    height: 120px;
}

.welcome {
    width: 85%;
    display: inline-block;
}

.logout-div {
    width: 15%;
    display: inline-block;
}

.logout-btn {
    margin-top: 30px;
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: cornflowerblue;
    color: whitesmoke;
    border-radius: 10px;
    font-weight: 900;
}

.edit-div {
    position: fixed;
    top: 100px;
    left: 10%;
    z-index: 999;
    width: 80%;
    height: 450px;
    text-align: center;
    background: whitesmoke;
}

#edit-form {
    width: 80%;
    margin: auto;
}