form {
    width: 100%;
}



.form-row {
    width: 50%;
    margin: auto;
    margin-top: 15px;
}

form input {
    text-align: center;
    background-color: #dddddd;
    color: cornflowerblue;
}

.right {
    float: right;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}